@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    transition: all .3s ease;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

body {
    transition: all .3s ease;
    position: relative;
    overflow-x: hidden;

    &.active {
        transition: all .3s ease;
        background-color: black;
        color: white;

        header {
            background-color: black;
            color: white;

            nav {
                .container {
                    padding: 10px 0px;
                    margin-top: 20px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    ul {
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        li {
                            position: relative;
                            transition: all .3s ease;
                            cursor: pointer;

                            &::after {
                                content: "";
                                position: absolute;
                                transition: all .3s ease;
                                background-color: #2460FD;
                                width: 0;
                                height: 2px;
                                left: 50%;
                                transform: translate(-50%);
                                bottom: -5px;
                            }

                            &:hover::after {
                                width: 100%;
                            }
                        }
                    }

                    .nav_logo {
                        width: 200px;
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        h2 {
                            animation: logo 3s linear infinite;



                            @keyframes logo {
                                0% {
                                    letter-spacing: 0px;
                                }

                                50% {
                                    letter-spacing: 5px;
                                    transform: translate(20px) scale(1.3);
                                }

                                100% {
                                    letter-spacing: 0px;
                                    transform: translate(0px);
                                }
                            }
                        }
                    }

                    button {
                        padding: 10px 20px;
                        background-color: transparent;
                        border: 2px solid white;
                        color: white;

                    }

                }
            }

            .hero {
                .container {
                    padding: 100px 0px;

                    .hero_card {
                        width: 420px;

                        h3 {
                            font-weight: 300;
                            padding-bottom: 20px;

                        }

                        h1 {
                            letter-spacing: 1px;
                            padding: 20px 0px;
                        }

                        p {
                            font-weight: 300;
                            padding: 20px 0px;
                        }

                        button {
                            padding: 10px 20px;
                            background-color: #2460FD;
                            border: none;
                            color: white;

                        }

                    }

                    .hero_card2 {
                        background-image: url("../imgs/image\ copy\ black.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;

                        img {
                            opacity: 0;

                        }
                    }
                }
            }
        }

        .intro {
            .container {
                padding: 50px 0px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .intro_card {
                    width: 200px;
                    line-height: 25px;
                    background-color: black;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;
                    padding: 20px;
                    color: white;
                    border: 1px solid white;
                }
            }
        }

        .two {
            background-color: black;

            .container {
                padding: 50px 0px;

                .two_title {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;
                    padding: 30px 0px;

                    .two_title_card {
                        width: 500px;
                    }
                }

                .two_box {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    padding: 40px 0px;
                    gap: 30px;

                    .two_card {
                        width: 320px;
                        padding: 40px 20px;
                        color: white;
                        background-color: black;
                        border-radius: 10px;
                        border: 2px solid white;

                        img {
                            padding-bottom: 20px;
                        }

                        p {
                            padding: 20px 0px;
                        }

                        button {
                            padding: 10px 20px;
                            background-color: #2460FD;
                            border: none;
                            color: white;

                        }
                    }
                }
            }
        }

        .three {
            .container {
                padding: 50px 0px;

                .three_title {
                    background-color: #000D51;
                    color: white;
                    text-align: center;
                    padding: 50px 0px;

                    h1 {
                        font-weight: 400;
                        line-height: 50px;
                        padding-bottom: 20px;
                    }

                    button {
                        padding: 10px 20px;
                        background-color: #2460FD;
                        border: 2px solid transparent;
                        color: white;
                    }

                }

                .three_box {
                    padding: 50px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    color: white;

                    .three_card1 {
                        width: 500px;
                        position: relative;
                        cursor: pointer;

                        img {
                            width: 100%;
                            display: block;
                            filter: blur(20px);
                            transition: filter 0.3s ease;
                            cursor: pointer;
                        }

                        .back {
                            position: absolute;
                            inset: 0;
                            z-index: 1;
                            backdrop-filter: blur(20px);
                            transition: backdrop-filter 0.3s ease;
                        }

                        &:hover {
                            img {
                                filter: blur(0);
                            }

                            .back {
                                backdrop-filter: blur(0);
                            }
                        }
                    }

                    .three_card2 {
                        width: 500px;
                        color: white;

                        h1 {
                            padding: 20px 0px;

                        }

                    }
                }
            }
        }

        .five {
            background-color: black;

            .container {
                padding: 50px 0px;

                .five_title {
                    padding: 30px 0px;

                }

                .five_box {

                    padding: 50px 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 100px;

                    .five_card {
                        width: 500px;
                        background-color: black;
                        border: 1px solid white;
                        overflow: hidden;
                        border-radius: 10px;
                        padding: 10px;
                        color: white;

                        p {
                            padding: 20px 0px;
                        }

                        img {
                            width: 100%;
                            height: 100%;
                            padding: 20px 0px;
                            transition: all .3s ease;

                            &:hover {
                                transform: scale(1.1);
                            }
                        }
                    }
                }
            }
        }

        .six {
            background: linear-gradient(90deg, #04081f, #35307c, #070f22);

            .container {
                padding: 50px 0px;
                color: white;
                text-align: center;

                p {
                    padding: 30px 0px;
                }

                button {
                    padding: 10px 20px;
                    background-color: #2460FD;
                    border: none;
                    color: white;
                }
            }
        }
    }

}


ul {
    list-style: none;
}

@mixin button {
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}

header {
    background-color: #000D51;
    color: white;

    nav {
        position: fixed;
        width: 100%;
        z-index: 999;
        backdrop-filter: blur(10px);

        .container {
            padding: 10px 0px;
            margin-top: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            ul {
                display: flex;
                align-items: center;
                gap: 30px;

                li {
                    position: relative;
                    transition: all .3s ease;
                    cursor: pointer;

                    &::after {
                        content: "";
                        position: absolute;
                        transition: all .3s ease;
                        background-color: white;
                        width: 0;
                        height: 2px;
                        left: 50%;
                        transform: translate(-50%);
                        bottom: -5px;
                    }

                    &:hover::after {
                        width: 100%;
                    }
                }
            }

            .nav_logo {
                width: 200px;
                display: flex;
                align-items: center;
                gap: 20px;

                h2 {
                    animation: logo 3s linear infinite;

                    @keyframes logo {
                        0% {
                            letter-spacing: 0px;
                        }

                        50% {
                            letter-spacing: 5px;
                            transform: translate(20px) scale(1.3);
                        }

                        100% {
                            letter-spacing: 0px;
                            transform: translate(0px);
                        }
                    }
                }
            }

            button {
                padding: 10px 20px;
                background-color: transparent;
                border: 2px solid #2460FD;
                color: #2460FD;
                @include button();
            }

        }
    }

    .hero {
        .container {
            padding: 100px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .hero_card {
                width: 420px;

                h3 {
                    font-weight: 300;
                    padding-bottom: 20px;
                }

                h1 {
                    letter-spacing: 1px;
                    padding: 20px 0px;
                }

                p {
                    font-weight: 300;
                    padding: 20px 0px;
                }

                button {
                    padding: 10px 20px;
                    background-color: #2460FD;
                    border: none;
                    color: white;
                    @include button();
                }

            }

        }
    }
}

.intro {
    .container {
        padding: 50px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .intro_card {
            width: 200px;
            text-align: center;
            line-height: 25px;
        }
    }
}

.two {
    background-color: #F3F3F3;

    .container {
        padding: 50px 0px;

        .two_title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #000D51;
            padding: 30px 0px;

            .two_title_card {
                width: 500px;
            }
        }

        .two_box {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 40px 0px;
            gap: 30px;

            .two_card {
                width: 320px;
                padding: 40px 20px;
                color: #000D51;
                background-color: white;
                border-radius: 10px;
                transition: all .3s ease;
                cursor: pointer;
                border: 1px solid transparent;

                &:hover {
                    transform: scale(1.1);
                    background-color: #2460FD;
                    color: white;
                }

                &:hover button {
                    background-color: white;
                    color: #2460FD;
                }

                img {
                    padding-bottom: 20px;
                }

                p {
                    padding: 20px 0px;
                }

                button {
                    padding: 10px 20px;
                    background-color: #2460FD;
                    border: none;
                    color: white;
                    @include button();
                }
            }
        }
    }
}

.three {
    .container {
        padding: 50px 0px;

        .three_title {
            background-color: #000D51;
            color: white;
            text-align: center;
            padding: 50px 0px;

            h1 {
                font-weight: 400;
                line-height: 50px;
                padding-bottom: 20px;
            }

            button {
                padding: 10px 20px;
                background-color: #2460FD;
                border: 2px solid transparent;
                color: white;
                @include button();
            }

        }

        .three_box {
            padding: 50px 0px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .three_card1 {
                width: 500px;
                position: relative;
                cursor: pointer;

                img {
                    width: 100%;
                    display: block;
                    filter: blur(20px);
                    transition: filter 0.3s ease;
                    cursor: pointer;
                }

                .back {
                    position: absolute;
                    inset: 0;
                    z-index: 1;
                    backdrop-filter: blur(20px);
                    transition: backdrop-filter 0.3s ease;
                }

                &:hover {
                    img {
                        filter: blur(0);
                    }

                    .back {
                        backdrop-filter: blur(0);
                    }
                }
            }

            .three_card2 {
                width: 500px;
                color: #2460FD;

                h1 {
                    padding: 20px 0px;

                }
            }
        }
    }
}

.four {
    background-color: #000D51;

    .container {
        padding: 50px 0px;
        color: white;

        .four_title {
            text-align: center;
            padding: 30px 0px;

            h1 {
                padding: 10px 0px;
            }
        }

        .four_box {
            overflow: hidden;

            img {
                width: 100%;
                height: 700px;
                transition: all .3s ease;
                cursor: pointer;
                will-change: transform, filter;
                filter: blur(4px);

                &:hover {
                    transform: scale(1.1);
                    filter: blur(0);
                }
            }
        }
    }
}

.five {
    background-color: #F3F3F3;

    .container {
        padding: 50px 0px;

        .five_title {
            padding: 30px 0px;

        }

        .five_box {

            padding: 50px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 100px;

            .five_card {
                width: 500px;
                background-color: white;
                overflow: hidden;
                border-radius: 10px;
                padding: 10px;

                p {
                    padding: 20px 0px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    padding: 20px 0px;
                    transition: all .3s ease;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}

.six {
    background: linear-gradient(90deg, #000D51, #6a61e9, #2460FD);

    .container {
        padding: 50px 0px;
        color: white;
        text-align: center;

        p {
            padding: 30px 0px;
        }

        button {
            padding: 10px 20px;
            background-color: #2460FD;
            border: none;
            color: white;
            @include button();
        }
    }
}